.products-list {
  position: relative;
  --color: #e3e3e3;
  --border: 1px solid var(--color);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 1px;
    translate: -50%;
    background-color: var(--color);
  }

  display: grid;

  @media (1024px > width >= 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.products-list__item {
  position: relative;
  padding: 30px 0;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    translate: -50%;
    background-color: var(--color);
  }

  @media (1024px > width >= 767px) {
    padding: 30px;

    &:nth-child(odd) {
      position: relative;
      border-right: var(--border);
      padding-left: 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 1px;
        background-color: var(--color);
      }
    }

    &:nth-child(even) {
      padding-right: 0;
    }
  }

  @media (width >= 1024px) {
    padding: 40px;

    &:nth-child(3n - 1),
    &:nth-child(3n - 2) {
      border-right: var(--border);
    }

    &:nth-child(3n - 1) {
      position: relative;
    }

    &:nth-child(3n - 2) {
      padding-left: 0;
    }

    &:nth-child(3n - 3) {
      padding-right: 0;
    }

    &:nth-child(3n - 1)::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      translate: -50%;
      background-color: var(--color);
    }
  }
}